* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  color: #fff;
  background: #ff3333;
}

a {
  color: #fff;
  text-decoration: none;
}

h1 {
  text-align: center;
}

.container1 {
  width: 540px;
  margin: 40px auto;
  overflow: auto;
}

.slider-in {
  width: 500px;
  height: 300px;
  position: relative;
  overflow: hidden;
  float: left;
  padding: 1px;
  border: #666 solid 1px;
}

.slider-in img {
  display: none;
  width: 500px;
  height: 300px;
}

.slider-in img.active {
  display: inline-block;
}

.prev,
.next {
  float: left;
  margin-top: 90px;
  cursor: pointer;
}

.prev {
  position: relative;
  margin-left: 350px;
  z-index: 100;
}

.next {
  position: relative;
  margin-left: -5px;
  z-index: 100;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-color: #ff3333;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: centre;
}

nav img {
  width: 150px;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 7px;
  position: relative;
}

.nav-links ul li a {
  color: #ffff;
  text-decoration: none;
  font-size: 25px;
  border: 1px solid white;
  border-radius: 10px;
  border-style: groove;
  transition: 0.3s all ease-in-out;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #ffffff;
  display: block;
  margin: auto;
  transition: 0.3s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.nav-links-2 {
  flex: 1;
  text-align: center;
}

.nav-links-2 ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 7px;
  position: relative;
}

.nav-links-2 ul li a {
  color: #ffff;
  text-decoration: none;
  font-size: 25px;
  border: 1px solid white;
  border-radius: 10px;
  border-style: groove;
  transition: 0.3s all ease-in-out;
}

.nav-links-2 ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #ffffff;
  display: block;
  margin: auto;
  transition: 0.3s;
}

.nav-links-2 ul li:hover::after {
  width: 100%;
}

.textbox {
  width: 100%;
  color: #fff;
  text-align: center;
}

.textbox h1 {
  font-size: 50px;
  text-align: center;
}

.textbox p {
  margin: 10px 0 40px;
  font-size: 25px;
  color: #fff;
  text-align: left;
}

.HomePageContainer {
  width: 1455px;
  border: 5px solid #fff;
  padding: 10px;
  margin: 10px;
}

.AboutUsBtn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 20px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.AboutUsBtn:hover {
  border: 1px solid #fff;
  background: #fff;
  transition: 1s;
}

footer {
  padding: 10px 10px;
  background-color: #ff3333;
  color: #fff;
}

/* About Us Page */
.h1AU {
  width: 100%;
  color: #fff;
  text-align: left;
}

.AboutUsContainer1 {
  width: 1444px;
  border: 5px solid #fff;
  padding: 10px;
  margin: 10px;
}

.AboutUsContainer2 {
  width: 225px;
  border: 5px solid #fff;
  padding: 10px;
  margin: 10px;
}

.InsideCantorIMG {
  margin-top: 10px;
  margin-left: 10px;
}

.CollegeMapIMG {
  margin-top: 10px;
  margin-left: 250px;
}

.PlaystationLabIMG {
  margin-top: 10px;
  margin-left: 10px;
}

.LectureTheatreIMG {
  margin-top: 10px;
  margin-left: 10px;
}

/* How To Find Us Page */
.h1HTFU {
  width: 100%;
  color: #fff;
  text-align: left;
  font-weight: bold;
  font-size: 20px;
}

.h2HTFU {
  width: 100%;
  color: #fff;
  text-align: center;
}

.CantorGalleryIMG {
  margin-top: 10px;
  margin-left: 10px;
}

/* Contact Us Page */
.h1CU {
  width: 100%;
  color: #fff;
  text-align: left;
}

.h2CU {
  width: 100%;
  color: #fff;
  text-align: center;
}

.CantorAtriumIMG {
  margin-top: 10px;
  margin-left: 10px;
}

.h1CU {
  text-align: left;
}

/* Computing Courses Page */
.h1CC {
  width: 100%;
  color: #fff;
  text-align: left;
}

.ComputingCoursesTable {
  color: white;
  width: 50%;
  background-color: #000000;
  margin-top: 10px;
  margin-left: 10px;
}
.ComputingCoursesTable,
th,
td {
  border: 1px solid black;
}

/* Design Courses Page */
.h1DC {
  width: 100%;
  color: #fff;
  text-align: left;
}

.DesignCoursesTable {
  color: white;
  width: 20%;
  background-color: #000000;
  margin-top: 10px;
  margin-left: 10px;
}
.DesignCoursesTable,
th,
td {
  border: 1px solid black;
}

/* Facilities Page */
.h1FAC {
  width: 100%;
  color: #fff;
  text-align: center;
}

.h2FAC {
  width: 100%;
  color: #fff;
  text-align: center;
}

/* Learning Resources Page */
.h1LR {
  width: 100%;
  color: #fff;
  text-align: center;
}

.h2LR {
  text-align: center;
}

.h3LR {
  text-align: center;
}
/* Staff Info Page */
.h1SI {
  width: 100%;
  color: #fff;
  text-align: left;
}

/* Student Info Page */
.h1STUINFO {
  width: 100%;
  color: #fff;
  text-align: left;
}

.SIContainer {
  width: 400px;
  border: 5px solid #fff;
  padding: 10px;
  margin: 10px;
  float: left;
}

.SIContainer2 {
  width: 400px;
  border: 5px solid #fff;
  padding: 10px;
  margin: 10px;
  float: left;
}

.SIContainer3 {
  width: 400px;
  border: 5px solid #fff;
  padding: 10px;
  margin: 10px;
  float: left;
}

.SIContainer4 {
  width: 400px;
  border: 5px solid #fff;
  padding: 10px;
  margin: 10px;
  float: left;
}

.SIContainer5 {
  width: 400px;
  border: 5px solid #fff;
  padding: 10px;
  margin: 10px;
  float: left;
}

.SIContainer6 {
  width: 400px;
  border: 5px solid #fff;
  padding: 10px;
  margin: 10px;
  float: left;
}

/* Working With Business Page */
.h1WWB {
  width: 100%;
  color: #fff;
  text-align: left;
}
